* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    height: 100px;
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: calc(100vh - 100px);
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.input-container {
    display: flex;
    gap: 1rem;
}

.weather-container {
    display: flex;
    gap: 1rem;
}
